@import "tailwindcss";

@keyframes glowPulse {
  0%, 100% {
    box-shadow: 0 0 5px 2px rgba(59, 130, 246, 0.7);
  }
  50% {
    box-shadow: 0 0 15px 6px rgba(96, 165, 250, 1); /* lighter blue */
  }
}

.glow-pulse {
  animation: glowPulse 2s ease-in-out infinite;
}
